{% extends "base.html" %}
{% block content %}


<div class="col-md-4 col-md-offset-4">
    <div align="center">
        <h2>At the end of the bar you see {{ npc.name.value }}...</h2>
    </div>
    <hr>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Barkeep! Do you know of any level {{ form.level_choice }} {{ form.race_choice }} whose really {{ form.archetype_choice }}
        </p>
        {{ form.submit }}
    </form>
    <b>Name</b> {{ npc.name.value }}<br>
    <i>{{ npc.size }} humanoid ({{ npc.race.value }})</i><br>
    <b>Armor Class</b> {{ npc.get_ac_string() }}<br>
    <b>Hit Points</b> {{ npc.health }}<br>
    <b>Speed</b> {{ npc.speed }}<br><br>
    <table>
        <tr>
            <td style="text-align: center;">
                <b>STR</b>
            </td>
            <td style="text-align: center;">
                <b>DEX</b>
            </td>
            <td style="text-align: center;">
                <b>CON</b>
            </td>
            <td style="text-align: center;">
                <b>INT</b>
            </td>
            <td style="text-align: center;">
                <b>WIS</b>
            </td>
            <td style="text-align: center;">
                <b>CHA</b>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px 10px 5px 5px;text-align: center;">
                {{ npc.stats['STR'] }} ({{ npc.get_stat_string('STR') }})
            </td>
            <td style="padding: 5px 10px 5px 5px;text-align: center;">
                {{ npc.stats['DEX'] }} ({{ npc.get_stat_string('DEX') }})
            </td>
            <td style="padding: 5px 10px 5px 5px;text-align: center;">
                {{ npc.stats['CON'] }} ({{ npc.get_stat_string('CON') }})
            </td>
            <td style="padding: 5px 10px 5px 5px;text-align: center;">
                {{ npc.stats['INT'] }} ({{ npc.get_stat_string('INT') }})
            </td>
            <td style="padding: 5px 10px 5px 5px;text-align: center;">
                {{ npc.stats['WIS'] }} ({{ npc.get_stat_string('WIS') }})
            </td>
            <td style="padding: 5px 10px 5px 5px;text-align: center;">
                {{ npc.stats['CHA'] }} ({{ npc.get_stat_string('CHA') }})
            </td>
        </tr>
    </table><br>
    <b>Senses </b>{{ npc.get_senses() }}<br>
    {% if npc.saving is not none %}
        <b>Saving Throws </b>
        {% for save in npc.get_savings_strings() %}
            {{ save }}
        {% endfor %}
        <br>
    {% endif %}
    <b>Skills </b>
    {% for skill in npc.get_skill_strings() %}
        {{ skill }}{{ "," if not loop.last }}
    {% endfor %}
    <br>
    <b>Languages </b>
    {% for language in npc.languages %}
        {{ language.value }}{{ "," if not loop.last }}
    {% endfor %}
    <br>
    {% if npc.two_weapon_fighting is not none %}
        <br><b>Two-weapon Fighting </b>{{ npc.two_weapon_fighting }}<br>
    {% endif %}
    {% for weapon in npc.get_weapon_strings() %}
        <br>{{ weapon|safe }}<br>
    {% endfor %}
</div>

{% endblock %}  